@font-face {
    font-family: "San Francisco";
    font-weight: 400;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

body {
    font: 24px Helvetica;
    background: #FFF;
    margin: 0;
    font-family: "San Francisco", "Segoe Ui", "Helvetica", "Arial"
}

#frame {
    height: 100%;
    display: flex;
    flex-flow: column;
    flex-direction: column;
    width: 100%;
}

header{
    display: block;
    min-height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, .10);
    text-align: center;
}
header div {
    margin-top: 10px;
}

#main {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
    flex: 1 2;
}

#main > article {
    margin: 0px;
    padding: 0px;
    flex: 3 1 60%;
    order: 2;
    display: flex;
    flex-flow: column;
    flex-direction: column;
}

#main > nav {
    border-right: 1px solid rgba(0, 0, 0, .10);
    flex: 1 6 20%;
    order: 1;
}

#main > aside {
    border-left: 1px solid rgba(0, 0, 0, .10);
    flex: 1 6 20%;
    order: 3;
}




/* Too narrow to support three columns */
@media all and (max-width: 640px) {
    #main, #page {
        flex-direction: column;
    }

    #main > article, #main > nav, #main > aside {
    /* Return them to document order */
        order: 0;
    }

    #main > nav, #main > aside, header, footer {
        min-height: 50px;
        max-height: 50px;
    }
}

.messages {
    flex: 1 2;
}

.message {
    bottom:     0;
    max-height: 400px;
}
/* received */
.left {
    align-content: left;
}
/* sent */
.right {
    align-content: right;
}

div.input {
    padding: 0px;
    border-top: 1px solid rgba(0, 0, 0, .10);
    margin: 0px;
    min-height: 49px;
}
div.input div.input-inner {
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0px;
}
div.input div.input-inner div {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    font-size: 14px;
    letter-spacing: -0.24px;
    line-height: 17.92px;
    padding-left: 15px;
}

[contenteditable=true]:empty:before {
    outline: 0px solid transparent;
    content: attr(placeholder);
    color: 1px solid rgba(0, 0, 0, .10);
    display: block; /* For Firefox */
}
[contenteditable=true] {
    max-height: 144px;
    overflow: scroll;
    width: 50%;
}
[contenteditable]:focus {
    outline: 0px solid transparent;
}