<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Akuchat</title>
		<link rel="stylesheet" href="/css/chat.css">
	</head>
	<body>
		<div id="frame">
			<header><div>Akuchat</div></header>
			<div id='main'>
				<article>
					<div class="messages">article</div>
					<div class="input">
						<div class="input-inner">
							<div id="editable" contenteditable="true" placeholder="Type a message..."></div>
						</div>
					</div>
				</article>
				<nav>nav</nav>
				<aside>aside</aside>
			</div>
		</div>
		<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/js/chat.js"></script>
	</body>
</html>